<div class="container pt-4">
  <h1>Socket.io</h1>
  <p>Simple massenger app</p>
  <a href="/room1" class="btn btn-danger">Room 1</a>
  <a href="/room2" class="btn btn-danger">Room 2</a>
  <a href="/room3" class="btn btn-danger">Room 3</a>
  <a href="/room4" class="btn btn-danger">Room 4</a>
  <a href="/room5" class="btn btn-danger">Room 5</a>

</div>
