<div class="home">
    <h1>Main page</h1>
    <div class="wrapper">
        <a class="btn" href="/eng"><span>English</span><i></i></a>
        <a class="btn" href="/ielts"><span>IELTS</span><i></i></a>
        <a class="btn" href="/budget"><span>Less 50.000</span><i></i></a>
    </div>
</div>